@model FirebaseMVC.Models.UserProfile
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="dislay-4">Your email address is @Model.Email, but you probably knew that.</h2>
</div>
